__pycache__/
*.pyc
*.egg-info/
dist/
build/
.pytest_cache/
*.egg
.coverage
htmlcov/
instance/

# Docs
docs/html/
docs/.mxmake/
docs/.venv/
docs/.vale/styles/Microsoft/
docs/.vale/styles/write-good/
uv.lock
development/
.worktrees/
